:root {
    --text-font: 'Montserrat', sans-serif;
}

.main-box {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: fit-content;
    padding-left: 20%;
    padding-right: 7.5%;
    width: 100%;
    height: 700px;
}

/* Left box and it's children*/
.left-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 40%;
    padding-bottom: 10%;
    padding-right: 40%;
}

.left-box>h2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-left: 20%;
    font-family: var(--text-font);
}

h1.title {
    font-family: var(--text-font);
    font-size: 2rem;
    align-self: center;
    text-align: center;
    padding-bottom: 2%;
    padding-top: 2%;
}

/* .left-box>h2 {
    width: 300px;
} */

p.text1 {
    width: 500px;
    text-align: justify;
    line-height: 1.5;
    font-family: var(--text-font);

}

.img1-box {
    height: 300px;
    width: auto;
}

/* Right box and it's children*/

.right-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 40%;
    padding-top: 40%;
   
}

.img2-box {
    width: 400px;
}

h3.text2 {
    width: 400px;
    text-align: justify;
    line-height: 1.35;
    font-family: var(--text-font);
}

a.link,
a.link:visited {
    text-decoration: none;
    color: rgb(142, 98, 98);
}

footer {
    margin-top: 20%;
}